{% extends admin_base_view %}
{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ "Reply"|trans }}</h1>

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
                    <div class="alert alert-{{ type }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form action="{{ url('he8us_feedback_reply',{id: message.id}) }}" method="post">
                <div class="form-group">
                    <label for="Subject">{{ "Subject"|trans }}</label>
                    <input class="form-control" type="text" id="Subject" name="message[subject]"
                           value="{{ "Reply:"|trans }} {{ message.body[:100] }}"/>
                </div>
                <div class="form-group">
                    <label for="To">{{ "To"|trans }}</label>
                    <input class="form-control" type="text" id="To" value="{{ message.email }}" name="message[to]"/>
                </div>
                <div class="form-group">
                    <label for="Message">{{ "Message"|trans }}</label>
                    <textarea class="form-control" name="message[body]" id="Message" cols="30" rows="10">

    ----
    {{ message.body }}
    {{ "Sender:" }} {{ message.email }} [ {{ message.senderIp }} ]
                    </textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">{{ "Send"|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
