{% extends admin_base_view %}

{% set STATUS_NONE = constant('He8us\FeedbackBundle\Entity\Feedback::STATUS_NONE') %}
{% set STATUS_READ = constant('He8us\FeedbackBundle\Entity\Feedback::STATUS_READ') %}
{% set STATUS_DONE = constant('He8us\FeedbackBundle\Entity\Feedback::STATUS_DONE') %}

{% block body -%}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if status==STATUS_NONE %}class="active"{% endif %}>
            <a href="{{ url('he8us_feedback_homepage') }}">{{ "feedback.list.new"|trans }}</a>
        </li>
        <li role="presentation" {% if status==STATUS_READ %}class="active"{% endif %}>
            <a href="{{ url('he8us_feedback_homepage',{status: STATUS_READ)}) }}">{{ "feedback.list.read"|trans }}</a>
        </li>
        <li role="presentation" {% if status==STATUS_DONE %}class="active"{% endif %}>
            <a href="{{ url('he8us_feedback_homepage',{status: STATUS_DONE}) }}">{{ "feedback.list.done"|trans }}</a>
        </li>
    </ul>
    <table class="table responsive-table table-bordered">
        <thead>
        <tr>
            <th>{{ 'feedback.id'|trans }}</th>
            <th>{{ 'feedback.sender'|trans }}</th>
            <th>{{ 'feedback.category'|trans }}</th>
            <th>{{ 'feedback.ip'|trans }}</th>
            <th>{{ 'feedback.page'|trans }}</th>
            <th>{{ 'feedback.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ categories[entity.category] }}</td>
                <td>{{ entity.senderIp }}</td>
                <td>{{ entity.referrer }}</td>
                <td>
                    <a href="#" class="feedback-show-content" data-content-id="{{ entity.id }}"
                       title="{{ "feedback.show_content"|trans }}"><i
                                class="fa fa-bars"></i></a>
                    <a href="#" class="feedback-mark-as-read" data-content-id="{{ entity.id }}"
                       title="{{ "feedback.markas.read"|trans }}"><i
                                class="fa fa-circle"></i></a>
                    <a href="#" class="feedback-mark-as-done" data-content-id="{{ entity.id }}"
                       title="{{ "feedback.markas.done"|trans }}"><i
                                class="fa fa-check-circle"></i></a>
                    <a href="#" class="feedback-delete" data-content-id="{{ entity.id }}"
                       title="{{ "feedback.delete"|trans }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
            <tr id="entity_{{ entity.id }}" style="display: none">
                <td colspan="6">
                    <div class="row">
                        <div class="col-md-12">
                            {{ entity.body }}

                            <hr/>
                            {% if entity.screenshot is not null %}
                                <a href="{{ entity.screenshot }}" target="_blank">
                                    <img src="{{ entity.screenshot }}" class="admin-screenshot-preview-image"/>
                                </a>
                            {% endif %}
                        </div>

                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">
                    <div class="alert alert-info">{{ "feedback.nocontent"|trans }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
