<div id="feedback_wrapper_div" class="left">
    <div class="tooltips">
        <div class="btn-group dropup">
            <button id="feedback-button" type="button" class="btn dropdown-toggle btn-circle btn-lg"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-commenting-o fa-2x" title="Report Bug"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-form">
                <li>
                    <div class="report">
                        <button id="close-button" class="btn btn-danger btn-sm do-close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h3 class="text-center">{{ "feedback"|trans }}</h3>
                        <form method="post" action="{{path('bulutyazilim_feedback_new')}}" class="text-center">
                            <div class="col-sm-12">
                                {{ form_widget(form.category) }}
                                {{ form_widget(form.email) }}
                                {{ form_widget(form.body) }}
                                {{ form_widget(form.screenshot) }}
                                {{ form_widget(form._token) }}
                                <span class="screenshot pull-right">
                                    <i class="fa fa-camera cam" title="{{ "feedback.email"|trans }}"></i>
                                </span>
                                {{ form_widget(form.captcha) }}
                                {{ form_widget(form.submit) }}
                            </div>
                        </form>
                    </div>
                    <div class="loading text-center hideme">
                        <h2>{{ "feedback.wait"|trans }}</h2>

                        <h2><i class="fa fa-refresh fa-spin"></i></h2>
                    </div>
                    <div class="reported text-center hideme">
                        <h2>{{ "feedback.thank"|trans }}</h2>

                        <p>{{ "feedback.thank_long"|trans }}</p>

                        <div class="col-sm-12 clearfix">
                            <button class="btn btn-success btn-block do-close">{{ "feedback.close"|trans }}</button>
                        </div>
                    </div>
                    <div class="failed text-center hideme">
                        <h2>{{ "feedback.fail"|trans }}</h2>

                        <p>{{ "feedback.fail_long"|trans|raw }}</a></p>

                        <div class="col-sm-12 clearfix">
                            <button class="btn btn-danger btn-block do-close">{{ "feedback.close"|trans }}</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
