<table class="table responsive-table table-bordered">
    <thead>
    <tr>
        <th>{{ 'he8us.feedback.layout.category.id' | trans }}</th>
        <th>{{ 'he8us.feedback.layout.category.name' | trans }}</th>
        <th>{{ 'he8us.feedback.layout.category.label' | trans }}</th>
        <th>{{ 'he8us.feedback.layout.category.deleted' | trans }}</th>
        <th>{{ 'he8us.feedback.layout.category.actions' | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td><a href="{{ path('he8us_category_admin_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
            <td>{{ category.name }}</td>
            <td>{{ category.label }}</td>
            <td>{% if category.deleted %}Yes{% else %}No{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('he8us_category_admin_show', { 'id': category.id }) }}">{{ 'he8us.feedback.layout.category.list.show' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('he8us_category_admin_edit', { 'id': category.id }) }}">{{ 'he8us.feedback.layout.category.list.edit' | trans }}</a>
                    </li>
                </ul>
            </td>
        </tr>


    {% else %}
        <tr>
            <td colspan="5">
                <div class="alert alert-info">{{ "he8us.feedback.layout.feedback.list.nocontent"|trans }}</div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('he8us_category_admin_new') }}">{{ 'he8us.feedback.layout.category.list.create' | trans }}</a>
    </li>
</ul>
