<ul>
    <li>
        <a href="{{ path('he8us_category_admin_homepage') }}">{{ 'he8us.feedback.layout.category.back_to_list' | trans }}</a>
    </li>
</ul>

{{ form_start(form) }}
        {{ form_widget(form) }}
<input type="submit" value="{{ 'he8us.feedback.layout.category.new.create' | trans }}"/>
{{ form_end(form) }}


